.fileUpload {
  display: flex;
  gap: 0.5rem;
  font-family: sans-serif;
  align-items: left;
}

.fileInput {
  display: none;
}

.uploadButton {
  background-color: #1e1e1e;
  color: #fff;
  padding: 0.3rem 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;

  &:hover {
    background-color: #000000;
  }
}

.fileInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

.fileName {
  flex-grow: 1;
}

.clearIcon {
  cursor: pointer;
  color: #888;

  &:hover {
    color: rgb(0, 0, 0);
  }
}

.submitButton {
  background-color: #2dae31;
  color: white;
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: auto;

  &:hover {
    background-color: #388e3c;
  }
}

.noFile {
  font-size: 14px;
  color: #999;
  display: flex;
  align-items: center;
}

.infoIcon{
  cursor: pointer;
  margin-left: 0.3rem;
}

.infoIcon:hover {
  color: #555;
}

.error {
  color: red;
  font-size: 13px;
}
