name: Coverity Scan - DeviceMonitoringService

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download Coverity Tools
        run: |
          wget -q https://scan.coverity.com/download/linux64 --post-data "token=shSWX9k3rXxqbuwb2wk4Gg&project=Device+Service+Git" -O coverity_tool.tgz

      - name: Extract Coverity Tools
        run: |
          mkdir coverity
          tar -zxvf coverity_tool.tgz -C coverity --strip-components=1

      - name: Build with Coverity
        run: |
          ./coverity/bin/cov-build --dir cov-int dotnet build ./Backend/DeviceMonitoringProject

      - name: Create Zip
        run: |
          tar czvf cov-int.tgz cov-int

      - name: Upload to Coverity Scan
        run: |
          curl \
            --form token=shSWX9k3rXxqbuwb2wk4Gg \
            --form email=premal.kadam@wonderbiz.in \
            --form file=@cov-int.tgz \
            https://scan.coverity.com/builds?project=YourProjectName
