name: CI / SonarCloud Analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  # -------------------------------
  # Detect what changed
  # -------------------------------
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      device_service_changed: ${{ steps.filter.outputs.deviceService }}
      alarm_service_changed: ${{ steps.filter.outputs.alarmService }}
      gateway_service_changed: ${{ steps.filter.outputs.gatewayService }}
      device_frontend_changed: ${{ steps.filter.outputs.deviceFrontend }}
      device_viz_changed: ${{ steps.filter.outputs.deviceVizFrontend }}

    steps:
      - uses: actions/checkout@v4

      - name: Detect changes in backend and frontend
        id: filter
        uses: dorny/paths-filter@v2
        with:
          filters: |
            deviceService:
            	- 'Backend/DeviceMonitoringProject/**'
            alarmService:
            	- 'Backend/AlarmService/**'
            gatewayService:
            	- 'Backend/GatewayService/GatewayService/**'
            deviceFrontend:
            	- 'Frontend/device_monitoring_frontend/**'
            deviceVizFrontend:
            	- 'Frontend/device-monitoring-viz/**'

  # ===============================
  # Backend: DeviceMonitoringService
  # ===============================
  backend-device-monitoring-service:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.device_service_changed == 'true' }}
    name: Backend_DeviceMonitoringService
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x"

      - name: Install SonarScanner for .NET
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Add .NET tools to PATH
        run: echo "$HOME/.dotnet/tools" >> $GITHUB_PATH

      - name: Restore Dependencies
        run: dotnet restore ./Backend/DeviceMonitoringProject

      - name: SonarCloud Begin
        run: |
          dotnet sonarscanner begin /k:"premalwonderbiz_DeviceMonitoringProject_DeviceService" /o:"premalwonderbiz" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.login="d7eadd915619c8d1b8d18013078fca2a0b5ad757" /d:sonar.cs.opencover.reportsPaths="**/*.opencover*" /d:sonar.coverage.exclusions="**Tests*.cs,**/Program.cs,**/Startup.cs,**/MainWindow.xaml.cs,**/Animations/**/*,**/Views/**/*,**/Windows/**/*,**/Models/**/*,**/Repositories/**/*,**/CustomAttributes/**/*"
        working-directory: ./Backend/DeviceMonitoringProject
        
      - name: Build
        run: dotnet build ./Backend/DeviceMonitoringProject

      - name: Run Unit Tests (DeviceMonitoring.Tests)
        run: dotnet test ./Backend/DeviceMonitoringProject/DeviceMonitoring.Tests /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput=TestResults/DeviceMonitoring.coverage.opencover.xml 

      - name: Run Unit Tests (InfrastructureTests)
        run: dotnet test ./Backend/DeviceMonitoringProject/InfrastructureTests /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput=TestResults/Infrastructure.coverage.opencover.xml

      - name: SonarCloud End
        run: dotnet sonarscanner end /d:sonar.login="d7eadd915619c8d1b8d18013078fca2a0b5ad757"
        working-directory: ./Backend/DeviceMonitoringProject

  # ===============================
  # Backend: AlarmService
  # ===============================
  backend-alarm-service:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.alarm_service_changed == 'true' }}
    name: Backend_AlarmService
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'

      - name: Restore Dependencies
        run: dotnet restore ./Backend/AlarmService

      - name: SonarCloud Begin
        run: |
          dotnet sonarscanner begin \
            /k:"premalwonderbiz_DeviceMonitoringProject_AlarmService" \
            /o:"premalwonderbiz" \
            /d:sonar.host.url="https://sonarcloud.io" \
            /d:sonar.login="d7eadd915619c8d1b8d18013078fca2a0b5ad757" \
            /d:sonar.cs.opencover.reportsPaths="TestResults/*.coverage.opencover.xml" \
            /d:sonar.coverage.exclusions="**Tests*.cs,**/Program.cs,**/Startup.cs,**/MainWindow.xaml.cs,**/Animations/**/*,**/Views/**/*,**/Windows/**/*,**/Models/**/*,**/Repositories/**/*,**/CustomAttributes/**/*"

      - name: Build
        run: dotnet build ./Backend/AlarmService

      - name: Test with Coverage
        run: dotnet test ./Backend/AlarmService \
          /p:CollectCoverage=true \
          /p:CoverletOutputFormat=opencover \
          /p:CoverletOutput=TestResults/AlarmService.coverage.opencover.xml

      - name: SonarCloud End
        run: dotnet sonarscanner end /d:sonar.login="d7eadd915619c8d1b8d18013078fca2a0b5ad757"


  # ===============================
  # Backend: GatewayService
  # ===============================
  backend-gateway-service:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.gateway_service_changed == 'true' }}
    name: Backend_GatewayService
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'

      - name: Restore Dependencies
        run: dotnet restore ./Backend/GatewayService/GatewayService

      - name: SonarCloud Begin
        run: |
          dotnet sonarscanner begin \
            /k:"premalwonderbiz_DeviceMonitoringProject_GatewayService" \
            /o:"premalwonderbiz" \
            /d:sonar.host.url="https://sonarcloud.io" \
            /d:sonar.login="d7eadd915619c8d1b8d18013078fca2a0b5ad757" \
            /d:sonar.cs.opencover.reportsPaths="TestResults/*.coverage.opencover.xml" \
            /d:sonar.coverage.exclusions="**Tests*.cs,**/Program.cs,**/Startup.cs,**/MainWindow.xaml.cs,**/Animations/**/*,**/Views/**/*,**/Windows/**/*,**/Models/**/*,**/Repositories/**/*,**/CustomAttributes/**/*"

      - name: Build
        run: dotnet build ./backend/GatewayService

      - name: Test with Coverage
        run: dotnet test ./Backend/GatewayService/GatewayService \
          /p:CollectCoverage=true \
          /p:CoverletOutputFormat=opencover \
          /p:CoverletOutput=TestResults/GatewayService.coverage.opencover.xml

      - name: SonarCloud End
        run: dotnet sonarscanner end /d:sonar.login="$d7eadd915619c8d1b8d18013078fca2a0b5ad757"


  # ===============================
  # Frontend: device-monitoring-ui
  # ===============================
  frontend-device-monitoring-ui:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.device_frontend_changed == 'true' }}
    name: Frontend_device-monitoring-ui
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.9.0'

      - name: Install dependencies
        run: npm ci
        working-directory: ./Frontend/device_monitoring_frontend

      - name: Build Frontend
        run: npm run build
        working-directory: ./Frontend/device_monitoring_frontend

      - name: Run Tests with Coverage
        run: npm test -- --coverage
        working-directory: ./Frontend/device_monitoring_frontend

      - name: SonarCloud Scan
        run: npx sonar-scanner -Dsonar.login="d7eadd915619c8d1b8d18013078fca2a0b5ad757" -D sonar.host.url="https://sonarcloud.io" -Dsonar.organization="premalwonderbiz" -Dsonar.projectKey="premalwonderbiz_DeviceMonitoringProject_DeviceFrontend" -Dsonar.sources=src -Dsonar.exclusions="**/node_modules/**,**/.next/**,**/out/**,**/coverage/**,**/*.test.*,**/*.spec.*,**/*.config.*,**/helpervariables.ts/**" -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info -Dsonar.test.inclusions="**/*.test.js,**/*.test.jsx,**/*.test.ts,**/*.test.tsx"
        working-directory: ./Frontend/device_monitoring_frontend


  # ===============================
  # Frontend: device-monitoring-viz
  # ===============================
  frontend-device-monitoring-viz:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.device_viz_changed == 'true' }}
    name: Frontend_device-monitoring-viz
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.9.0'

      - name: Install dependencies
        run: npm ci
        working-directory: ./Frontend/device-monitoring-viz

      - name: Build Frontend
        run: npm run build
        working-directory: ./Frontend/device-monitoring-viz

      - name: SonarCloud Scan
        run: npx sonar-scanner -Dsonar.login="d7eadd915619c8d1b8d18013078fca2a0b5ad757" -D sonar.host.url="https://sonarcloud.io" -Dsonar.organization="premalwonderbiz" -Dsonar.projectKey="premalwonderbiz_DeviceMonitoringProject_DeviceViz" -Dsonar.sources=src -Dsonar.exclusions="**/node_modules/**,**/.next/**,**/out/**,**/coverage/**,**/*.test.*,**/*.spec.*,**/*.config.*,**/helpervariables.ts/**" -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info -Dsonar.test.inclusions="**/*.test.js,**/*.test.jsx,**/*.test.ts,**/*.test.tsx"
        working-directory: ./Frontend/device-monitoring-viz
